.THIS .idd1 {
   background-color: red;
}
.THIS .name {
   background-color: pink;
}
.THIS .number {
   background-color: lightblue;
}
.THIS .fax {
   background-color: blue;
}
.THIS .description {
   background-color: yellow;
}
.THIS .hello1 {
   background-color: yellow;
}
.THIS .green1 {
   background-color: green;
}
.THIS .lightblue1 {
   background-color: lightblue;
}
.THIS .grey1 {
   background-color: grey;
}
.THIS .pink1 {
   background-color: pink;
}